@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-regular.woff) format("opentype");
}

@font-face {
  font-family: "montserrat bold";
  src: url(../fonts/montserrat-bold.woff) format("opentype");
}

@font-face {
  font-family: "montserrat light";
  src: url(../fonts/montserrat-light.woff) format("opentype");
}
